<!doctype html>
<html>

<body>

    <p>
        <%= mail.anrede %>
    </p>

    <p>
        mit der Abschlusspräsentation am <%= mail.final_presentations %> habt ihr den ersten Teil eurer Prüfung im
            Projektmodul Agrar/Lebensmittel hoffentlich erfolgreich absolviert. Für die meisten standen anschließend
            weitere Prüfungen an, die hoffentlich ebenfalls zu eurer Zufriedenheit verlaufen sind.</p>
    <p>
        Um auch dieses Modul erfolgreich abzuschließen, gebt bitte eure Projektberichte <b>bis zum <%=
                mail.submission_final_reports %></b>
        über die Upload-Funktion in Microsoft Teams ab. Bitte beachtet dabei Folgendes:

        Ladet die Berichte in den gleichen Ordner hoch wie schon eure Präsentationen. Der Dateiname sollte eine gekürzte
        Version
        des Projekttitels sein. Das Format und Medium der Abgabe an die Betreuer*innen stimmt ihr bitte direkt mit
        der
        jeweiligen Person ab. Ladet aber in jedem Fall eine PDF-Version in MS Teams hoch.</p>

    <p>
        Solltet ihr Fragen haben antwortet bitte direkt auf diese E-Mail oder schreibt eine Mail an
        <b>projekte-bwa@hs-osnabrueck.de</b>.
    </p>


    <p>Viele Grüße,<br>Nicolas Meseth</p>

</body>

</html>